<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='javascript.js')}}"></script>
    <style>
        body{
            background-color: wheat;
            
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-success shadow">
        <a class="navbar-brand text-white" href="/"> Crude Oil Prediction Page</a>
    </nav>
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5">ABOUT</h2>
            <div data-aos="zoom-in">
                <p> Predicting the oil price for the future </p>
            </div>
        </div>
    </section>


</body>

</html>
